.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.react-datetime-picker, .react-datetime-picker *, .react-datetime-picker *:before, .react-datetime-picker *:after{
  border-radius: 5px;
}
body{
  background:#E6E6FA    
  }
  .card {
      box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
  }
  
  .fs-19 {
      font-size: 19px;
  }
  
  .primary-link {
      color: #314047;
      -webkit-transition: all .5s ease;
      transition: all .5s ease;
  }
  
  a {
      color: #02af74;
      text-decoration: none;
  }
 .fs-14 {
      font-size: 14px;
  }
  .bg-soft-secondary {
      background-color: rgba(116,120,141,.15)!important;
      color: #74788d!important;
  }
  
  .mt-1 {
      margin-top: 0.25rem!important;
  }